<!doctype html>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">   
  <head>
    <meta charset="utf-8">
         
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ScanSafe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg px-4 navbar-light bg-light">
      <a class="navbar-brand d-flex flex-row align-items-center" href="scan.html">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 16 16" style="transform: translateY(-3.5px)">
              <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5zM3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"/>
          </svg>
          <h3 style="margin-left: 12px;">ScanSafe</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
          <li class="nav-item">
              <a class="nav-link" href='influencerListForm'>Suggest product</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href='influencerWatchlistForm'>Add to watchlist</a>
          </li>
            <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Other
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <h6 class="dropdown-header">Account</h6>
              <li><a class="dropdown-item" href="login.html">Login</a></li>
              <li><a class="dropdown-item" href="register.html">Register</a></li>
              <li><a class="dropdown-item" href="login.html">Logout</a></li>
              <li><hr class="dropdown-divider"></li>
              <h6 class="dropdown-header">Influencer</h6>
              <li><a class="dropdown-item" href="influencerList.html">Suggest products</a></li>
              <li><a class="dropdown-item" href="influencerForm.html">Add to watchlist</a></li>
              <li><hr class="dropdown-divider"></li>
              <h6 class="dropdown-header">Admin</h6>
              <li><a class="dropdown-item" href="adminDashboard.html">Admin Home</a></li>
            </ul>
          </li>
            -->
        </ul>
      </div>
  </nav>
      
       <div class= "container pt-5">
        
        <h1 class="mb-4">Hello, influencer!</h1>
        <br>
        <br>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan= '3'><h5>Your suggestion list:</h5></th>
                    <th style="text-align: right"><a href='influencerListForm'><button type="button" class="btn btn-success">Create new</button></a></th>
                </tr>
            </thead>
                
            <tbody>
                <tr th:each="alternativeProduct : ${alternativeProductList}">                          
                    <td th:text="${alternativeProduct.altProduct}"></td>
                    <td>replaces</td>
                    <td th:text="${alternativeProduct.replacesProduct}"></td>
                    <!--<td><a href='influencerDashboard'><button type="button" class="btn btn-light" style="float: right">Edit</button></a></td>-->
                   
                    <td style="text-align: right"><a th:href="@{/showFormForUpdate/id={id}(id=${alternativeProduct.id})}"  class="btn btn-light" style="margin-right: 10px">Edit</a>
                        <!--<a th:href="@{/deleteAlternativeProduct/id={id}(id=${alternativeProduct.id})}"  class="btn btn-outline-danger" style="float: right">Delete</a></td>-->
                        
                        
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" th:attr="data-bs-target='#staticBackdrop' + *{alternativeProduct.id}" style="float: right">Delete</button>
                        
                        <!-- Modal -->
                        <div class="modal fade" th:id="*{'staticBackdrop' + {alternativeProduct.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete suggestion?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to delete this suggestion?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a th:href="@{/deleteAlternativeProduct/id={id}(id=${alternativeProduct.id})}"  class="btn btn-outline-danger">Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                    </td>
                    
                </tr>
            </tbody>
        </table>
            
            <br>
            <br>
            <br>
            <br>
           
        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan='3'><h5>Your ingredient watchlist proposals:</h5></th>
                    <th style="text-align: right"><a href='influencerWatchlistForm'><button type="button" class="btn btn-success">Create new</button></a></th>
                </tr>
                <tr>
                    <th>Ingredient</th>
                    <th>Risk</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="proposedIngredient : ${proposedIngredientList}">
                    <td th:text="${proposedIngredient.name}"></td>
                    <td th:text="${proposedIngredient.risk}"></td>
                    <td th:if="${proposedIngredient.approved}">Approved</td>
                    <td th:if="${proposedIngredient.rejected}">Rejected</td>
                    <td th:unless="${proposedIngredient.approved} OR ${proposedIngredient.rejected}"}>Pending</td>
                    <!--<td style="text-align: right"><a href='influencerForm.html'><button type="button" class="btn btn-light" style="margin-right: 10px">Edit</button></a>-->
                    <td style="text-align: right"><a th:href="@{/showFormForPropUpdate/id={id}(id=${proposedIngredient.id})}"  class="btn btn-light" style="margin-right: 10px">Edit</a>
                        <!-- Button trigger for modal -->
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" th:attr="data-bs-target='#staticBackdrop' + *{proposedIngredient.id}" style="float: right">Delete</button>
                    
                        <!-- Modal -->
                        <div class="modal fade" th:id="*{'staticBackdrop' + {proposedIngredient.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete proposal?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to delete this ingredient proposal?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a th:href="@{/deleteProposedIngredient/id={id}(id=${proposedIngredient.id})}"  class="btn btn-outline-danger">Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                                                
                    </td>           
                </tr>
            </tbody>
        </table>
           
           
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>